body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #dcdcdc;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#header {
    background-color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    margin: 0;
    color: #ffcc00;
    font-size: 2.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444444;
    color: #dcdcdc;
}

.button {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #1f1f1f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e6b800;
}

#my-file-section, #search-section, #pub-key-section, #logout-section {
    width: 90%;
    max-width: 800px;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #333333;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    color: #ffcc00;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #444444;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.02);
}

#pub-key {
    background-color: #444444;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Custom file upload style */
.custom-file-upload {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #444444;
    color: #dcdcdc;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;
}

.input-file {
    display: none;
}

audio {
    width: 80%;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: #ffffff;
}

.delete-button {
    background-color: #ffcc00;
    border: none;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #e6b800;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-item audio {
    margin: 5px;
}

.file-item span {
    flex: 1;
    margin: 5px;
}
